:root {
    --swiper-theme-color: rgb(83, 80, 80) !important;
    --white: white;
    --gri: #ccc;
    --black: #000;
    --red: #f00;
    --transparent: transparent;
    --auto: auto;
    --center: center;
    --absolute: absolute;
    --end: end;
    --flex: --flex;
    --cover: cover;
    --block: block;
    --left: left;
    --justify: justify;
    --right: right;
    --relative: relative;
    --normal: normal;
    --medium: medium;
    --small: small;
    --large: large;
    --initial: initial;
    --none: none;
    --norepeat: no-repeat;
    --fontArial: Arial, Helvetica, sans-serif;

}

.tr{
        left: 355px !important;
        align-content: var(--justify);
}
.item {
    width: 200px;
    height: 200px;
    margin: 50px var(--auto);
    padding-top: 75px;
    background: var(--gri);
    text-align: var(--center);
    color: var(--white);
    font-size: 3em;
}

.imaginepoz {
    position: var(--relative);
    top: 100px;
}

.wq {
    text-align: var(--center);
    padding: 17%;
}

.t {
    text-align: var(--left);
}

.imaginepoz2 {
    position: var(--relative);
    top: 50px;
}


.negru1 {
    background-color: rgb(12, 11, 12)
}

.imagineGri {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 100%;
    padding: 8px;
    align-items: var(--center);
    margin-right: 34px;
    margin-left: 2px;
}



.container2 {
    background-color: gray;
}

.imagineColor {
    width: 100%;
    padding: 8px;
    align-items: var(--center);
    margin-right: 34px;
    margin-left: 2px;
}

.new {
    padding-bottom: 15%;
}



.r {
    background-color: gray;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: var(--center);
    font-size: 18px;
    display: -webkit-box;
    display: -ms-var(--flex)box;
    display: -webkit-var(--flex);
    display: var(--flex);
    -webkit-box-pack: var(--center);
    -ms-flex-pack: var(--center);
    -webkit-justify-content: var(--center);
    justify-content: var(--center);
    -webkit-box-align: var(--center);
    -ms-flex-align: var(--center);
    -webkit-align-items: var(--center);
    align-items: var(--center);
}

.swiper-slide img {
    display: var(--block);
    width: 100%;
    height: 100%;
    object-fit: var(--cover);
}

.fontAlb {
    background-color: rgb(21, 20, 20);
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #121213 !important;
    border: 1px solid #ffc107 !important;
    align-items: var(--end) ! important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.f {
    background-color: var(--black) !important;
}

.body {
    background-color: var(--black);
}

.r {
    top: 30px;
}

.colorR {
    color: var(--red);
    font-size: 14px;
}

.stil {
    background-color: var(--black);
}

.tu {
    background-color: green;
}

.butonimagine {
    position: var(--relative);
    top: 0px;
}

.textarea {
    width: 300px !important;
    height: 150px !important;
}



.imaginedim {
    width: 100%;
    top: 0px;
}

.imaginedim2 {
    width: 100%;
}

.imagineFolosita {
    width: 100%;
    padding: 1%;
}


.text-center {
    text-align: var(--center) !important;
}

.fundalAlb {
    width: 100%;
    top: 0px;
    right: 100px;
    position: var(--absolute);
    background-color: var(--white);
    max-width: 930px;
    padding: 5px;
}

.pozT {
    padding: 5%;
}

.fundalAlb2 {
    top: 120px;
    right: 0px;
    position: var(--absolute);
    background-color: var(--white);
    max-width: 820px;
    padding: 5px;
    width: 600px;
    height: 300px;
}

.tt {
    background-color: var(--black);
}

.element.style {
    padding: 15% !important;

}

.fundalAlb3 {
    /* width: 100%; */
    top: 120px;
    /* var(--left): 460px; */
    right: 0px;
    position: var(--absolute);
    background-color: var(--black);
    max-width: 820px;
    padding: 5px;
    width: 600px;
    height: 300px;

    height: 630px;
}

.label {
    color: var(--black);
}

.butonCuText {
    width: 100%;
    top: 170px;
    left: 200px;
    position: var(--absolute);
    background-color: var(--white);
    color: var(--red);
    max-width: 250px;
    padding: 2px;

}

.butonCuText2 {
    width: 100%;
    top: 170px;
    left: 200px;
    position: var(--absolute);
    background-color: var(--transparent);
    max-width: 250px;
    padding: 2px;

}

element.style {
    background-image: url(img/b1.png);
    background-size: var(--cover);
    height: 180%;
    top: 0px;
    background-repeat: var(-- norepeat);
}

#connecting2 {
    background-image: image('img/Background2');
}

.navbar {
    background-color: var(--black);
    color: var(--white);
}

.gg {
    justify-content: var(--end);
}

li {
    display: list-item;
    text-align: var(--end);
}

.margin {
    margin-right: 20px;
    color: var(--black);
}

.navbar-brand {
    color: var(--white);
}

.navbar {
    color: var(--white);
}

.nav-link {
    color: var(--white);
}

.nav-link1 {
    color: var(--black);
}


.tel {

    font-size: var(--medium);
    background-color: var(--black);
    border: var(--black);
    color: var(--white);
    padding: 7%;
    padding-right: 1px;
    left: 1px;
    padding-top: 1px;
    margin-bottom: 0px;
    text-align: var(--center);
    width: 100%;
    display: var(--block);
    font-style: var(--normal);
    text-decoration: var(--none);
}

.styletextp1 {
    top: 0px;
    font-family: var(-- fontArial);
    font-size: 24pxx;
}

.styletextp2 {
    font-family: var(-- fontArial);
    font-size: 90px;
    top: 40px;
    padding-bottom: 15%;
}

.styletextp3 {
    padding-top: 5%;
    margin-top: 100cm;
    font-size: 22px;
}

.styletextp4 {
    font-family: var(-- fontArial);
    font-size: 24px;
    margin-left: 12%;
    color: var(--red);
    text-align: var(--justify);

}

.styletextp5 {
    font-family: var(-- fontArial);
    font-size: 35px;
    margin-top: 4%;
    margin-left: 9%;

}

.styletextp6 {
    font-family: var(-- fontArial);
    font-size: 20px;
    text-align: var(--left);
    margin-top: 4%;
    margin-left: 12%;
}

.styletextp7 {
    font-family: var(-- fontArial);
    font-size: var(--medium);
    color: var(--red);
    text-align: var(--justify);

}

.styletextp7 {
    font-family: var(-- fontArial);
    font-size: var(--medium);
    color: var(--red);
    text-align: var(--justify);

}

.textjos {
    align-content: var(--center);
}

.styletextp8 {
    font-family: var(-- fontArial);
    font-size: var(--small);
    text-align: var(--justify);

}

.styletextp9 {
    font-family: var(-- fontArial);
    font-size: var(--medium);
    color: var(--red);
    text-align: var(--justify);
    margin-left: 46px;

}

.styletextp10 {
    font-family: var(-- fontArial);
    font-size: var(--large);
    text-align: var(--center);
    margin-left: 46px;
}

.styletextp16 {
    font-family: var(-- fontArial);
    font-size: var(--large);
    text-align: var(--center);
    margin-left: 46px;
    padding-bottom: 2%;
}

.styletextp16a {
    font-family: var(-- fontArial);
    font-size: var(--large);
    padding-left: 83px;
    text-align: var(--center) !important;
    margin-left: 46px;
    padding-bottom: 2%;
    color: var(--white);
    padding: 7%;
}

.styletextp11 {
    font-family: var(-- fontArial);
    font-size: var(--small);
    text-align: var(--center);
    margin-left: 46px;
}


.styletextp1a {
    font-family: var(-- fontArial);
    font-size: 17px;
    text-align: var(--center);
    margin-top: 4%;
    margin-left: 50%;
    text-align: var(--center);
    color: var(--white);
    padding-bottom: 5%;
}

.butonr {
    color: var(--red) !important;
    background-color: var(--white) !important;
    max-width: 100%;
    height: var(--auto);
}

.btn {
    color: var(--red) !important;
    background-color: var(--white) !important;
}

.styletextp111 {
    font-family: var(-- fontArial);
    font-size: 25px;
    text-align: var(--center);
    margin-left: 46px;
    color: var(--black);
}

.styletextp12 {
    font-family: var(-- fontArial);
    font-size: var(--medium);
    text-align: var(--center);
    color: var(--red);
    margin-left: 46px;
    padding-top: 12%;

}


.styletextp15 {
    font-family: var(-- fontArial);
    font-size: var(--medium);
    text-align: var(--center);
    color: var(--red);
    margin-left: 16px;
    padding-top: 5%;
}

.styletextp13 {
    font-family: var(-- fontArial);
    font-size: var(--medium);
    text-align: var(--center);
    color: var(--red);
    margin-left: 46px;
    padding-top: 7%;
}

.styletextp14 {
    font-family: var(-- fontArial);
    font-size: 17px;
    text-align: var(--left);
    margin-top: 4%;
    margin-left: 30%;
    text-align: var(--center);
    color: var(--black);
    padding-bottom: 5%;
}

.styletextp14a {
    font-family: var(-- fontArial);
    font-size: 17px;
    text-align: var(--justify);
    left: 10px;
    right: 10px;
    color: var(--black);
    margin: 2%;
    width: max 350px;

}


.button-justify {
    display: table-cell;
}

.y {
    align-items: var(--center);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif !important;
    background-color: var(--black);
}

.mage-section {
    width: 100%;
}

.image-round {
    margin-top: inherit;
    left: 0px;
    margin-top: 0px;
    top: 0px;
    max-width: 100%;
    height: var(--auto);
}

.rr {
    background-color: var(--black);
}

.pozeButon {
    position: var(--relative);
    padding: 1%;
    width: 100%;
    margin-left: var(--auto);
    background-color: var(--white);
    color: var(--red);
}

.clasaPoza {
    position: var(--absolute);

}

.pozc {
    width: 100%;
    padding: 2%;
}

.w {
    width: 100%;
    left: 46px;
    padding: 3%;
}

.editText {
    background-color: var(--transparent);
    color: var(--black);
    left: 70px;
    bottom: 54px !important
}

.editText2 {
    background-color: var(--transparent);
    color: var(--black);
    left: 270px;
    bottom: 154px !important
}

.card {
    background-color: var(--transparent);
}

.backgroundPhoto {
    background-color: var(--white) !important;
}

.footerimg {
    top: 6px;
    padding: 3%;
}


.titlu {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}

.copyright {
    padding: 3%;
    font-size: 16px;
}

.continut {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: var(--gri);
}

/* ubuntu-300 - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: var(--normal);
    font-weight: 300;
    src: url('../font/ubuntu-v20-latin-300.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../font/ubuntu-v20-latin-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../font/ubuntu-v20-latin-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/ubuntu-v20-latin-300.woff') format('woff'),
        /* Modern Browsers */
        url('../font/ubuntu-v20-latin-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../font/ubuntu-v20-latin-300.svg#Ubuntu') format('svg');
    /* Legacy iOS */
}


/* ubuntu-regular - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: var(--normal);
    font-weight: 400;
    src: url('../font/ubuntu-v20-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../font/ubuntu-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../font/ubuntu-v20-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/ubuntu-v20-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../font/ubuntu-v20-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../font/ubuntu-v20-latin-regular.svg#Ubuntu') format('svg');
    /* Legacy iOS */
}

/* ubuntu-500 - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: var(--normal);
    font-weight: 500;
    src: url('../font/ubuntu-v20-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../font/ubuntu-v20-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../font/ubuntu-v20-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/ubuntu-v20-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('../font/ubuntu-v20-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../font/ubuntu-v20-latin-500.svg#Ubuntu') format('svg');
    /* Legacy iOS */
}

/* ubuntu-700 - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: var(--normal);
    font-weight: 700;
    src: url('../font/ubuntu-v20-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../font/ubuntu-v20-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../font/ubuntu-v20-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/ubuntu-v20-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../font/ubuntu-v20-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../font/ubuntu-v20-latin-700.svg#Ubuntu') format('svg');
    /* Legacy iOS */
}


@media(max-width:680px) {
    .editText2 {
        background-color: var(--transparent);
        color: var(--black);
        left: 470px;
        bottom: 194px !important;
        font-size: 40px;
        align-content: var(--center);

    }


}


@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 var(--auto);
        width: 90%;
    }
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 var(--auto);
        width: 89%;
    }
}

@media(max-width:927px) {
    .editText {
        background-color: var(--transparent);
        color: var(--black);
        left: 70px;
        bottom: 94px !important;
        font-size: 40px;
    }
}

@media(max-width:1014px) {
    .styletextp2 {
        font-size: 52px;
        padding-right: 4%;
    }
}

@media(max-width:1034px) {
    .editText2 {
        background-color: var(--transparent);
        color: var(--black);
        left: 70px;
        bottom: 94px !important;
        font-size: 40px;
        align-content: var(--center);
    }
}

@media(max-width:1187) {
    .styletextp12 {
        font-family: var(-- fontArial);
        font-size: var(--medium);
        text-align: var(--center);
        margin-left: 46px;
        width: var(--auto);
    }
}

@media(max-width:1200px) {
    .fundalAlb {
        position: var(--initial);
        max-width: 100%;
    }

    .imaginepoz {
        top: 0px;
    }

    .fundalAlb2 {
        position: var(--initial);
        width: 100%;
    }

    .imaginepoz2 {
        top: 0px;
        padding: 3%;
    }
}

.textimagini {
    color: var(--white);
    background-color: var(--transparent);
    font-size: 14px;
}

.slide1 {
    background-image: url('img/b1.png');
    background-size: var(--cover);
    background-repeat: var(-- norepeat);
}


.slide1 {
    background-image: url('img/Background2.png');
    background-size: var(--cover);
    background-repeat: var(-- norepeat);
}